@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
h3 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 20px;
}

input {
    width: 100%;
    background-color: #f3ddd1;
    height: 50px;
    border: none;
}
.backNav {
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.backNav a {
    text-decoration: none;
    color: #671e14;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }

#addProduct {
    background-color: #671e14;
    color: white;
}

#file {
    background-color: white;
    height: 20px;
}