@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.backNav {
    padding: 1rem;
}

.backNav a {
    text-decoration: none;
    color: #671e14;
    font-weight: 900;
}

.list{
    width: 80%;
    text-align: center;
    background-color: #f3ddd1;  
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

